<mat-nav-list>
    <div class="profile-card">
        <div class="header">
        
        <div *ngFor="let n of nts,last as l">
            <div *ngIf = l>
              <div>
                
                  <img src="{{n.image}}" alt="Image not uploaded">
                  <p id="profile_username"><b>Welcome {{n.userName}}!!</b></p>
                  <p id="profile_email">Email ID: {{n.emailId}}</p>
              </div>
            </div>
        </div>
          </div>
    <!--<img src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="failed:(">-->
</div>
<!-- <mat-divider></mat-divider>
<h2 matSubheader style="font-style:italic">Pages</h2> -->
<a mat-list-item routerLinkActive="list-item-active" matTooltip="Profile" routerLink="/">
    <mat-icon>account_circle</mat-icon>
    <!-- <mat-icon>person_outline</mat-icon> -->
    Home 
</a>
<a mat-list-item routerLinkActive="list-item-active" matTooltip="Favorites" routerLink="/login">
    <mat-icon>favorite_border</mat-icon>
    <!-- <mat-icon>favorite</mat-icon> -->
    Login
</a>
<a mat-list-item routerLinkActive="list-item-active" matTooltip="Recommendation" routerLink="/Recommendation">
    <mat-icon>queue_music</mat-icon>
    Recommendation
</a>
<a mat-list-item routerLinkActive="list-item-active" matTooltip="Country Special"  routerLink="/">
    <!-- <mat-icon>tune</mat-icon> -->
    <mat-icon>location_city</mat-icon>
    Country Special
</a>
<!-- <div>
    Profile
</div>
<mat-divider></mat-divider>
menu
<mat-divider></mat-divider>
Another menu -->
<mat-divider></mat-divider>
<h2 MatSubheader>Tools</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/youtube-search">
    <mat-icon>youtube_searched_for</mat-icon>
    SearchYoutube
</a>

</mat-nav-list>