

<form #registrationForm="ngForm" (submit)="registerUser(registrationForm)">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
     <div class="form-group">
      <label for="name"><b>User Name</b></label><br>
      <input type="text" placeholder="Enter Your Name" name="name" id="name" required [(ngModel)]="u2.userName" #userName="ngModel" >
    </div>
    <div class="alert-danger" *ngIf="userName.errors?.['required']">Username required</div>
    <div class="form-group">
      <label for="email"><b>Email</b></label><br>
      <input type="text" placeholder="Enter Email" name="emailId" id="emailId" required [(ngModel)]="u2.emailId" #email="ngModel" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+?\.[a-z]{2,3}$" >
    </div>
    <div *ngIf="email.errors && email.invalid && email.touched && email.dirty ">
        <div class=alert-danger *ngIf="email.errors?.['required']">
          email id is required.
        </div>
        <div class="alert-danger" *ngIf="email.errors?.['pattern']">email id should be in the format xyz@gmail.com</div>
    </div>
     <div class="form-group">
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required [(ngModel)]="u2.password" #password="ngModel" minlength="5">
     <div>
    </div><br>

    <div class="alert-danger" *ngIf="password.errors?.['minlength']">Password should have minimum of 5 characters</div>
    <div class="alert-danger" *ngIf="password.errors?.['required']">Password required</div>

    <div class="form-group">
      <label for="psw-repeat"><b>Repeat Password</b></label><br>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw_repeat" required (ngModel)="u2.password" #passwordConfrm="ngModel" >
    </div>

    <div *ngIf="passwordConfrm.invalid && passwordConfrm.touched"
    class="alert alert-danger"> This field is required</div>


    <!--<div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
    <small class="alert-danger [class.d-none]=(passwordConfrm.value!=password.value) || passwordConfrm.touched">invalid</small>
    -->
    <!--<small class="alert-danger" *ngIf=passwordConfrm.value!=password.value>password does not match</small>-->
    </div>
      <hr>
      <div>
        <label><b>Upload Photo</b></label>
        <input type="file" placeholder="Upload Your Photo" (change)="onUploading($event,registrationForm)" >
        <img [src]=url id="image_upload">
      </div>
      
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a href="#" (click)="gotoLogin">Sign in</a>.</p>
    </div>
  </form>




 