.btn
{
    color:azure;
    background-color: blue;
}
#signUp
{
 
    color: bisque;
}
#signUp:hover
{
    text-decoration: underline;
    font-style: oblique;
    color: blanchedalmond;
}
#newuser
{
    
    float: right;
    margin-right:10em;
    color: bisque;
}
