<!-- <div>
    Line charts
</div>
<mat-divider></mat-divider>
<div>
    <div>Line chart</div>
    <div>Line chart</div>
    <div>Line chart</div>
    <div>Line chart</div>
</div>
<mat-divider></mat-divider>
<div>
    <div>Table</div>
    <div>Pie chart</div>
</div> -->
<h2>Welcome to my music app,</h2>
<h2>Listen to your favourite songs sung by your favourite artists</h2>
<h3 routerLink="/login">Login to get started</h3>


          <!--<mat-card>
            <mat-card-title>{{n.title}}</mat-card-title>
            <img mat-card-image src="{{n.text}}" alt="Photo of a Shiba Inu">
           
          </mat-card>-->